<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta th:field="*{viewport}" content="width=device-width, initial-scale=1.0" />
    <title>Show Tag</title>

    <!-- FAVICON -->
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon" />

    <!-- IMPORT CSS -->
    <th:block th:replace="~{fragments :: import-css}"></th:block>
  </head>
  <body>
    <!-- Header -->
    <header class="mb-5">
      <th:block th:replace="~{fragments :: navbar('none')}"></th:block>
    </header>

    <!-- Main -->
    <main class="container my-5" th:object="${tag}">
      <div class="d-flex gap-2 mb-1">
        <span class="badge fs-2" th:text="*{name}" th:style="'background-color:' + *{hexColor}"></span>
        
        <!-- Edit Tag -->
        <div class="d-flex gap-1">
          <!-- Edit Tag -->
          <a class="transparent-link blue-hover h-auto p-1" th:href="@{/tag/edit/{id} (id=*{id})}">
            <i class="fa-solid fa-pencil fs-1"></i>
          </a>
          <!-- Delete Tag (Open a modal) -->
          <button type="button" class="transparent-link red-hover h-auto p-1 border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#deleteModal">
            <i class="fa-solid fa-trash fs-1"></i>
          </button>
        </div>
      </div>

      <div class="color-info mt-4">
        <h4 class="m-0 d-inline">Color: </h4>
        <span class="fs-5" th:text="*{hexColor}"></span>
      </div>

      <!-- Delete Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              
              <!-- Modal Header -->
              <div class="modal-header">
                <h5 class="modal-title">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <!-- Modal Body -->
              <div class="modal-body">
                Are you sure you want to delete this tag? <br> ⚠ This action cannot be undone! ⚠
              </div>

              <!-- Modal Footer -->
              <div class="modal-footer">
                <a th:href="@{/tag/delete/{id}(id=*{id})}" class="btn btn-danger">Delete</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              </div>

            </div>
          </div>
        </div>
    </main>
  </body>
</html>
