<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta th:field="*{viewport}" content="width=device-width, initial-scale=1.0" />
    <title th:text="${isCreate} ? 'Create Travel' : 'Edit Travel'"></title>

    <!-- FAVICON -->
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon" />

    <!-- IMPORT CSS -->
    <th:block th:replace="~{fragments :: import-css}"></th:block>

    <!-- IMPORT INPUT PLACE FINDER -->
    <th:block th:replace="~{fragments :: import-maps}"></th:block>

    <!-- CALCULATE LAT AND LON - SHOW INPUT SUGGESTIONS JS -->
    <script th:src="@{/js/geocode.js}" defer></script>

    <!-- CUSTOM JS -->
    <script th:src="@{/js/travels-create.js}" defer></script>
  </head>
  <body>
    <!-- Header -->
    <header class="mb-5">
      <th:block th:replace="~{fragments :: navbar('addTravel')}"></th:block>
    </header>

    <!-- Main -->
    <main class="container my-5">
      <!-- FORM -->
      <form class="row g-3" th:action="${isCreate} ? @{|/travel/create|} : @{/travel/edit/{id}(id=*{id})}" th:object="${travel}" method="POST" enctype="multipart/form-data">
        <!-- Place -->
        <div class="col-md-6 position-relative">
          <label for="place" class="form-label fs-5 fw-semibold">* Place</label>
          <input type="text" id="place" class="form-control" th:field="*{place}" autocomplete="off" required />
          <!-- Suggestions List -->
          <ul id="suggestions" class="list-group position-absolute top-100 start-0 end-0 z-2 hover-pointer li-border-gray"></ul>

          <!-- Invisible fields for latitude and longitude (they fill in automatically) -->
          <input type="hidden" id="latitude" th:field="*{latitude}" />
          <input type="hidden" id="longitude" th:field="*{longitude}" />
        </div>

        <!-- Date -->
        <div class="col-md-6">
          <label for="date" class="form-label fs-5 fw-semibold">* Date</label>
          <input type="date" id="date" class="form-control" th:field="*{date}" required />
        </div>

        <!-- Description -->
        <div class="col-12">
          <label for="description" class="form-label fs-5 fw-semibold">* Description</label>
          <textarea id="description" class="form-control" th:field="*{description}" required></textarea>
        </div>

        <!-- Strength Rating -->
        <div class="col-md-6">
          <label for="strengthRating" class="form-label fs-5 fw-semibold">* Strength Rating (1-5)</label>
          <input type="number" id="strengthRating" class="form-control" th:field="*{strengthRating}" min="1" max="5" required />
        </div>

        <!-- Monetary Rating -->
        <div class="col-md-6">
          <label for="monetaryRating" class="form-label fs-5 fw-semibold">* Monetary Rating (1-5)</label>
          <input type="number" id="monetaryRating" class="form-control" th:field="*{monetaryRating}" min="1" max="5" required />
        </div>

        <!-- Cost -->
        <div class="col-12">
          <label for="cost" class="form-label fs-5 fw-semibold">* Cost</label>
          <input type="number" id="cost" class="form-control" th:field="*{cost}" step="0.01" min="0" required />
        </div>

        <!-- Feelings -->
        <div class="col-12">
          <label for="feelings" class="form-label fs-5 fw-semibold">Feelings</label>
          <input type="text" id="feelings" class="form-control" th:field="*{feelings}" />
        </div>

        <!-- Reflection Positive -->
        <div class="col-md-6">
          <label for="reflectionPos" class="form-label fs-5 fw-semibold">Reflection Positive</label>
          <textarea id="reflectionPos" class="form-control" th:field="*{reflectionPos}"></textarea>
        </div>

        <!-- Reflection Negative -->
        <div class="col-md-6">
          <label for="reflectionNeg" class="form-label fs-5 fw-semibold">Reflection Negative</label>
          <textarea id="reflectionNeg" class="form-control" th:field="*{reflectionNeg}"></textarea>
        </div>

        <!-- Tags -->
        <div class="col-12">
          <label class="form-label fs-5 fw-semibold">Tags</label>
          <p th:if="${tags.size() == 0}" class="m-0">No tags available</p>

          <div class="d-flex gap-3">
            <div th:each="tag : ${tags}" class="form-check">
              <input class="form-check-input" type="checkbox" th:id="${'tag-' + tag.id}" name="selectedTags" th:value="${tag.id}" th:checked="${travel.tags.contains(tag)}">
              <label class="form-check-label" th:for="${'tag-' + tag.id}"><span class="badge" th:text="${tag.name}" th:style="'background-color:' + ${tag.hexColor}"></span></label>
            </div>
          </div>
        </div>


        <!-- Images -->
        <div class="col-12"> <!-- Title -->
          <label class="form-label fs-5 fw-semibold m-0">Photos (Link / File)</label>
        </div>
        <div class="col-md-6 mt-1"> <!-- Link -->
          <label class="form-label fw-semibold">Link</label>
          <div id="imageUrlContainer">
            <!-- Existing photo URLs will be inserted dynamically if editing -->
            <div class="input-group mb-2">
              <input type="url" name="photoLinks" class="form-control" placeholder="https://example.com/photo.jpg">
              <button type="button" class="btn btn-outline-success add-btn rounded-end">
                <i class="fa-solid fa-plus fa-xs"></i>
                Add
              </button>
              <button type="button" class="btn btn-outline-danger remove-btn d-none rounded-end">
                <i class="fa-solid fa-xmark fa-lg"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-1"> <!-- File -->
          <label for="imageFiles" class="form-label fw-semibold">File</label>
          <input type="file" id="imageFiles" name="photoFiles" class="form-control mb-2" multiple>
        </div>
        <div class="col-12"> <!-- Preview -->
          <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6" id="photoPreview">
            <!-- Existing photos from DB -->
            <th:block th:each="photo : ${travel.photos}">
              <div class="col mb-2">
                <div class="position-relative">
                  <img th:src="${photo}" class="img-fluid rounded">
                  <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0 remove-btn">
                    <i class="fa-solid fa-xmark fa-lg"></i>
                  </button>
                  <input type="hidden" name="photoLinks" th:value="${photo}"> <!-- To send info about this image to backend -->
                </div>
              </div>
            </th:block>
          </div>
        </div>

        <!-- Videos -->
        <div class="col-12"> <!-- Title -->
          <label class="form-label fs-5 fw-semibold m-0">Videos (Link / File) <i>(The name must not contain youtube or youtu.be)</i></label>
        </div>
        <div class="col-md-6 mt-1"> <!-- Link -->
          <label class="form-label fw-semibold">Link</label>
          <div id="videoUrlContainer">
            <div class="input-group mb-2">
              <input type="url" name="videoLinks" class="form-control" placeholder="https://youtube.com/...">
              <button type="button" class="btn btn-outline-success add-btn rounded-end">
                <i class="fa-solid fa-plus fa-xs"></i>
                Add
              </button>
              <button type="button" class="btn btn-outline-danger remove-btn d-none rounded-end">
                <i class="fa-solid fa-xmark fa-lg"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-1"> <!-- File -->
          <label for="videoFiles" class="form-label fw-semibold">File</label>
          <input type="file" id="videoFiles" name="videoFiles" class="form-control mb-2" multiple>
        </div>
        <div class="col-12"> <!-- Preview -->
          <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6" id="videoPreview">
            <th:block th:each="video : ${travel.videos}">
              <!-- Not Youtube video -->
              <th:block th:if="${!(video.contains('youtube') or video.contains('youtu.be'))}">
                <div class="col mb-2">
                  <div class="position-relative">
                    <video controls class="img-fluid rounded">
                      <source th:src="${video}" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                    <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0 remove-btn">
                      <i class="fa-solid fa-xmark fa-lg"></i>
                    </button>
                    <input type="hidden" name="videoLinks" th:value="${video}"> <!-- To send info about this video to backend -->
                  </div>
                </div>
              </th:block>
              <!-- Only Youtube video -->
              <th:block th:unless="${!(video.contains('youtube') or video.contains('youtu.be'))}">
                <div class="col mb-2">
                  <div class="position-relative">
                    <iframe th:src="${video}" frameborder="0" allowfullscreen class="img-fluid rounded"></iframe>
                    <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0 remove-btn">
                      <i class="fa-solid fa-xmark fa-lg"></i>
                    </button>
                    <input type="hidden" name="videoLinks" th:value="${video}"> <!-- To send info about this video to backend -->
                  </div>
                </div>
              </th:block>
            </th:block>
          </div>
        </div>



        <!-- INFO -->
        <div class="col-12">
          <i>* = obligatory</i>
        </div>
        
        <!-- SUBMIT -->
        <div class="col-12 text-center">
          <button class="btn btn-lg btn-primary px-5" type="submit">Confirm</button>
        </div>
      </form>
    </main>
  </body>
</html>
