<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta th:field="*{viewport}" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>

    <!-- FAVICON -->
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon" />

    <!-- IMPORT CSS -->
    <th:block th:replace="~{fragments :: import-css}"></th:block>

    <!-- IMPORT MAPS -->
    <th:block th:replace="~{fragments :: import-maps}"></th:block>

    <!-- Show Maps in Page JS -->
    <script th:src="@{/js/maps.js}" defer></script>

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" />
  </head>
  <body>
    <!-- Header -->
    <header>
      <th:block th:replace="~{fragments :: navbar('dashboard')}"></th:block>
    </header>

    <!-- Main -->
    <main class="vh-100-without-header position-relative">
      <ul class="d-none">
        <li th:each="travel : ${travels}" class="travels" th:data-lat="${travel.latitude}" th:data-lon="${travel.longitude}" th:text="${travel.place}"></li>
      </ul>

      <div id="info-panel" class="position-absolute z-1000 p-3">
        <h2 class="text-center text-lg-start"><i>Trip Summary</i></h2>

        <h4 th:if="${travels.size() == 0}">No travel yet...</h4>

        <ul th:unless="${travels.size() == 0}" class="d-flex flex-wrap row-gap-3 column-gap-4 gap-lg-2 m-0">
          <li class="w-100">
            <h4>Financial Cost:</h4>
            <h5 th:text="|€ ${totalCost}|"></h5>
          </li>
          <li>
            <h4>Start Date:</h4>
            <h5 th:text="${startDate}"></h5>
          </li>
          <li>
            <h4>End Date:</h4>
            <h5 th:text="${endDate}"></h5>
          </li>
        </ul>
      </div>

      <div id="map" class="h-100"></div>
    </main>
  </body>
</html>
